*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    --bg-color: #e2eaff;
    --dark-bg-color: #121632dd;
    --font-color: #121632dd;
    --dark-font-color: #e2eaff;
    margin: 0;
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
}

/* ---------- HEADER SECTION ------------ */
header{
    background-color: var(--dark-bg-color);
    height: 50px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}
.header__nav-list{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.header__nav-list-item{
    display: flex;
    justify-content: center;
    list-style: none;
}
.header__nav-list-item-link:hover{
    text-decoration: underline;
}
.header__nav-list-item-link{
    color: var(--dark-font-color);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

/* ---------- HEADER ENDS ---------- */

/* ---------- MAIN INFO  ------------ */

main{
    width: 100%;
}

.main__wrapper{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main__img-container{
    width: 100%;
}
.main__img{
    width: 100%;
}
.main__info-container{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.main__info{
    font-size: 17px;
}

/* ----------- MAIN ENDS ----------- */

/* ----------- TYPES ------------- */

section {
    background-color: var(--dark-bg-color);
    color: var(--dark-font-color);
    padding: 15px 0;
}

.types__title {
    font-size: 28px;
    width: 90dvw;
    margin: auto;
}

.types__wrapper {
    width: 92dvw;
    margin: auto;
}

.types__item-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
}

.types__item:first-child {
    background-image: linear-gradient(#0006, #0006), url(local.png);
    background-size: cover;
}

.types__item:nth-child(2) {
    background-image: linear-gradient(#0006, #0006), url(NAS.png);
    background-size: cover;
}

.types__item:last-child {
    background-image: linear-gradient(#0006, #0006), url(SAN.png);
    background-size: cover;
}

.types__item {
    border-radius: 8px;
    padding: 10px;
}

/* --------------- TYPES END ------------- */

/* -------------- VIDEO ----------------- */

.video-desc {
    font-weight: 700;
}

.video-container {
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

video {
    width: 100%;
}

/* -------------- VIDEO ENDS -------------- */

/* -------------- FOOTER ------------------ */

footer {
    width: 100%;
    background-color: #000c;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.footer__owner {
    color: #999;
}

/* --------------- FOOTER ENDS ------------ */
